<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <style>
        #sidebar {
            float: left;
            width: 30%;
            height: 100vh;
            overflow: auto;
            border-right: 1px solid #ddd;
            padding: 1em;
        }
        #main {
            float: right;
            width: 70%;
            padding: 1em;
        }
    </style>
</head>
<body>
    <div id="sidebar">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#about-me">About Me</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <div id="main">
        {{ content }}
    </div>
</body>
</html>